.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    z-index: 5;
}

.modal-video {
    width: 640px;
    height: 360px;
    position: relative;
}
.close {
    color: #fff;
    font-size: 36px;
    position: absolute;
    top: -27px;
    right: -25px;
    cursor: pointer; 
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.block {
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;
}