.title {
    font-size: 52px;
    line-height: 64px;
    font-weight: 500;
    text-transform: none;
    color: #000000;
    &_main {
        font-weight: 600;
        font-size: 60px;
        line-height: 84px;
        text-transform: uppercase;  
    }
    &_center {
        text-align: center;
    }
    &_line {
        font-size: 38px;
        line-height: 48px;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 154px;
            height: 6px;
            position: absolute;
            bottom: -16px;
            background: $main-color;
        }
    }
    &_mini {
        font-size: 38px;
        line-height: 48px;
    }
}